/* @group Core Elements */


.menu-bar {
	
	background: url(../images/menu-bg.png) 0 0 repeat-x;
}

.inset {
	
	background: #469ccd
	
}



.content {
	background: url(../images/page-bg.png) 0 0 repeat-x;
}

